{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "useTabs": false,
  "endOfLine": "lf",
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": ["^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
